<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Home page</title>
</head>
<body class="home_bg">
   <nav class="navbar">
        <div class="logo">
            <h1>Laptop <span>Stores</span></h1>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About</a></li>
            <li><a href="/products/list-products">List Product</a></li>
        </ul>
    </nav>
    <main class="store">
        <div class="home_info">
            <p class="main_p">SUMMER SALE</p>
            <h1>Upto 50% Off <br> New Laptops</h1>
            <p class="main_p parar">Thank you for your purchase, we hope you enjoy this theme.
                You can Buy in here 24/7.
            </p>
            <button class="search"><a href="/products/list-products">Search Product</a></button>
        </div>
        <div class="home_image">
            <img src="../static/images/project_dualplay_01-1a.png">
        </div>
    </main>
</body>
</html>